title: CivicActions Accessibility
description: 
# baseurl: /compliance-as-code # the subpath of your site, e.g. /blog
# url: https://govthinktank.github.io/compliance-as-code/ # the base hostname & protocol for your site, e.g. http://example.com

# GitHub information
# This is used for adding an edit this page link to the footer
github_info:
  organization: civicactions
  repository: accessibility

url: "https://accessibility.civicactions.com" # the base hostname & protocol for your site
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from

# Configuration for setting the site width to 100%
# To enable, uncomment the following line
# site_width: wide

# Configuration for Google Analytics, add your UA code here:
# google_analytics_ua: UA-????????-??

# Configuration for DAP, add your agency ID here:
# dap_agency: GSA
# dap_subagency: TTS

# Uncomment to enable AnchorJS functionality on docs layout.
# See https://github.com/bryanbraun/anchorjs for more information.
# anchor_js_targets: [h1, h2, h3, h4, h5, h6]

# To enable search, uncomment the search section
# You will need to setup a search account with search.gov
# https://search.usa.gov/signup
# Your search_site_handle value is from the search.gov settings page.

# search_site_handle: searchgov-site-handle

# Configuration for projects and team collections
# See https://jekyllrb.com/docs/collections/ for more information about collections.
# collections:
#   projects:
#     output: true
#   team:
#     output: true

# Compress Sass
sass:
  style: compressed

# https://designsystem.digital.gov/documentation/developers/#sass-compilation-requirements
autoprefixer:
  browsers:
    - "> 2%"
    - last 2 versions
    - IE 11
    - not dead

collections:
  playbook:
    output: true
    permalink: playbook/:title
  projects:
    output: true
    permalink: projects/:title
  posts:
    output: true
    permalink: posts/:title
  training:
    output: true
    permalink: training/:title
  case-studies:
    output: true
    permalink: case-studies/:title
  consulting:
    output: true
    permalink: consulting/:title
  people:
    output: true
    permalink: people/:title
  guide:
    output: true
    permalink: guide/:title
  talks:
    output: true
    permalink: talks/:title
  coaching:
    output: true
    permalink: coaching/:title
  help:
    output: true
    permalink: help/:title
  pages:
    output: true
    permalink: :title
  topics:
    output: true
    permalink: topics/:title
  clients:
    output: true
    permalink: clients/:title
  tools:
    output: true
    permalink: tools/:title

defaults:
  - scope:
      path: ""
      type: "people"
    values:
      layout: "people"

kramdown:
  smart_quotes: ["apos", "apos", "quot", "quot"]

exclude:
  - pa11y_output.txt
