<p>CivicActions Accessibility is an open project primarily developed by CivicActions team members.</p>

<p>We follow <a href="https://accessibility.civicactions.com/agile">agile process</a> and encourage others to do so as well.</p>

<p>We are gathering information that we find useful for our team, and hope that it resonates with our clients and the broader community. We acknolwedge that this resource is imperfect, impermanent and incomplete, and we encourage you to help make it better. There is a lot of great information about digital accessibility already freely available on the web. We aim to refer people to great resources, or build upon them.</p>

<p>Please <a href="https://accessibility.civicactions.com/contact">let us know</a>> what you find helpful, if there are resources we should include or if there are ways we can improve.</p>

<h2>Our work</h2>
<ul>
    <li><a href="https://github.com/CivicActions/accessibility/projects/1">Project board</a></li>
    <li><a href="https://github.com/CivicActions/accessibility/calendar">Calendar</a></li>
    <li><a href="https://github.com/CivicActions/accessibility/join">Join us</a></li>
</ul>