<form action="https://usebasin.com/f/9cbe63444dee" method="POST">
    <div class="form-input">
        <label for="email-address">Email Address<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input type="email" id="email-address" name="email-address" required>
    </div>
    <div class="form-input">
        <label for="text-area">Subject<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <textarea id="text-area" name="text-area"></textarea>
    </div>
    <button class="usa-button" type="submit">Submit</button>
</form>


