<ul class="usa-card-group">
    {% for item in site.data.guide.docs %}
    <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
            <div class="usa-card__media">
                <div class="usa-card__img">
                    <a href="{{ site.baseurl }}/guide{{ item.url }}"><img src="{{ site.baseurl }}/assets/img/cards/{{ item.image }}" alt="{{ item.title }}"></a>
                </div>
            </div>
            <header class="usa-card__header">
                <h2 class="usa-card__heading">{{ item.title }}</h2>
            </header>
            <div class="usa-card__body">
                <p>{{ item.description }}</p>
            </div>
            <div class="usa-card__footer">
                <button class="usa-button"><a href="{{ site.baseurl }}/guide{{ item.url }}">{{ item.title }}</a></button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>