<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>

{% assign description = page.description | default: site.description %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}

{% include favicon.html %}

<!-- Facebook OG and Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@civicactions" />
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:creator" content="@civicactions" />
<meta name="twitter:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/general-a11y.png">
<meta name="twitter:image:alt" content="CivicActions Accessibility">
<meta name="twitter:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/playbook.png">
<meta name="twitter:image:alt" content="CivicActions Accessibility Playbook">
<meta name="twitter:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/tip-of-the-week.png">
<meta name="twitter:image:alt" content="CivicActions Accessibility Tip of the Week">
<meta property="og:url" content="https://accessibility.civicactions.com/" />
<meta property="og:title" content="CivicActions-Accessibility" />
<meta property="og:description" content="CivicActions Accessibility site is an open project for our team members and those who work for digital inclusion." />
<meta property="og:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/general-a11y.png" />
<meta property="og:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/playbook.png" />
<meta property="og:image" content="https://accessibility.civicactions.com/assets/img/thumbnail-images/tip-of-the-week.png" />

    <!-- Font Awesome -->

    <!-- This is code the Font Awesome CDN generates for me that doesn't work -->
    <script src="https://use.fontawesome.com/4fe5bba9d1.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/7207a55a98.css">

    <!-- This is code from DistributedGov that works -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap" rel="stylesheet"> 