.anchor-links {
  overflow: visible !important;
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    a {

      position: absolute;
      top: .35rem;
      left: -2rem;
      svg {
        width: 28px;
        height: 28px;
        opacity: .3;
      }
      &:hover,
      &:focus,
      &:focus-within {
        svg {
          fill: #0000EE;
          opacity: 1;
        }
      }
    }
  }
  h3,
  h4,
  h5,
  h6 {
    a {
      top: 0 !important;
    }
  }
}
