.usa-layout-docs.anchor-links {
  overflow: visible !important;
  h2 {
    position: relative;
    a {

      position: absolute;
      top: .35rem;
      left: -2.5rem;
      svg {
        width: 30px;
        height: 30px;
        opacity: .3;
      }
      &:hover,
      &:focus,
      &:focus-within {
        svg {
          fill: #0000EE;
          opacity: 1;
        }
      }
    }
  }
}