.usa-button {
  border: 2px solid white;
  color: white ;
  @if variable-exists(hero-button-bg) {
    background-color: color($hero-button-bg);
  }
  &:hover,
  &:focus {
    background-color: white;
    color: black;
    border: 2px solid white;
  }
}
.expand-all-accordion {
  .usa-button {
    border: 1px solid black;
  }
}