.usa-header {
  @if variable-exists(header-bg) {
    background-color: color($header-bg);
  }

  .usa-logo {
    a {
      @if variable-exists(header-title) {
        color: color($header-title);
      }
      align-items: center;
      display: flex;
    }

    .usa-logo-img {
      float: left;
      height: units(2);
      margin-right: units(1);

      @include at-media($theme-header-min-width) {
        margin-top: 0;
        height: units(3);
      }

      & + .usa-logo__text {
        float: left;
      }
    }
  }

  &.usa-header--extended .usa-logo-img {
    @include at-media($theme-header-min-width) {
      height: units(4);
    }
  }

  .usa-nav__secondary-links {
    a {
      @if variable-exists(header-link) {
        color: color($header-link);
      }

      &:hover {
        @if variable-exists(header-link-hover) {
          color: color($header-link-hover);
        }
      }
    }
  }
  .usa-nav__primary {
    .usa-nav__link:hover,
    .usa-nav__link:focus,
    .usa-nav__link:focus-within {
      .fa-search::before {
        color: #0050d8;
      }
    }
    .usa-current {
      background-color: transparent;
    }
    button {
      font-size: 1.1rem;
    }
    button[aria-expanded="true"] {
      color: white;
      background-color: #4866ff;
      text-decoration: underline;
    }
    @include at-media("mobile") {
      button[aria-expanded="true"] {
        background-color: #fff;
      }
    }
    button[aria-expanded="true"].usa-current {
      text-decoration: underline;
      span {
        color: white;
      }
    }
    .usa-current {
      .fa-search::before {
        color: #0050d8;
      }
    }
    .fa-search {
      &::before {
        padding-right: .5rem;
        color: #565c65;
      }
      span {
        font-family: 'Nunito', sans-serif !important;
        line-height: .9;
        color: #565c65;
        font-weight: bold;
      }
    }
  }
  .usa-search {
    .usa-button {
      border: 2px solid black;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      // TODO fix hover states
      &:hover,
      &:focus {
        background-image: url("../../assets/uswds/img/search-black.svg");
      }
    }

  }
}
