---
layout: default
title: About CivicActions Accessibility
description:
excerpt:
permalink: /about/
hero:
image:
callout:
alt: "About CivicActions Accessibility"
text: <!--Bring attention to a current priority-->
link:
text: Link to more about that priority
href: /link/
content:

---
{% include breadcrumbs.html %}
<div class="">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-row grid-gap flex-align-start">
                {% include sidenav-about.html %}
                <div class="usa-layout-docs usa-layout-docs__main usa-prose desktop:grid-col-9">

                    {% include about.html %}
                </div>
            </div>
        </div>
    </div>
</div>
