---
layout: default
title: Projects
description: Open source accessibility projects we contribute to.
excerpt: 
permalink: /projects
hero:
  image: 
  callout:
    alt: "Projects"
    text: <!--Bring attention to a current priority-->
  link:
    text: Link to more about that priority
    href: /link/
  content: 

---
<div class="">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-row grid-gap flex-align-start">
                <div class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}">
                    {% include projects.html %}
                </div>
            </div>
        </div>
    </div>
</div>
