---
layout: default
---
{% comment %}Gather the matching content from pages, playbook, guide, and posts.{% endcomment %}
{% assign playbook = site.playbook | where: "categories", page.title %}
{% assign guide = site.guide | where: "categories", page.title %}
{% assign personas = site.personas | where: "categories", page.title %}
{% assign projects = site.projects | where: "categories", page.title %}
{% assign posts = site.posts | where: "categories", page.title %}
{% include breadcrumbs.html %}
<script src="/assets/js/accordion.js"></script>

    <div class="grid-container">
            <div class="grid-row grid-gap flex-align-start">
                <div class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}">
                    <div class="expand-all-accordion"><button class="expand usa-button" onClick='expandingAccordions()' aria-expanded="false" data-toggle="1">Expand/Collapse All</button></div>

                    <div id="accordionGroup" class="Accordion" data-allow-toggle>

                    {% if playbook != empty %}
                        <div class="accordion">
                            <h2>
                                <button class="accordion-heading">Playbook</button>
                            </h2>
                            <div class="accordion-body" hidden>
                                <ul>
                                    {% for page in playbook %}
                                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if guide != empty %}
                        <div class="accordion">
                            <h2>
                                <button class="accordion-heading">Guide</button>
                            </h2>
                            <div class="accordion-body" hidden>
                                <ul>
                                    {% for page in guide %}
                                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if personas != empty %}
                        <div class="accordion">
                            <h2>
                                <button class="accordion-heading">Personas</button>
                            </h2>
                            <div class="accordion-body" hidden>
                                <ul>
                                    {% for page in personas %}
                                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if projects != empty %}
                        <div class="accordion">
                            <h2>
                                <button class="accordion-heading">Project</button>
                            </h2>
                            <div class="accordion-body" hidden>
                                <ul>
                                    {% for page in projects %}
                                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if posts != empty %}
                        <div class="accordion">
                            <h2>
                                <button class="accordion-heading">News</button>
                            </h2>
                            <div class="accordion-body" hidden>
                                <ul>
                                    {% for page in posts %}
                                    {% assign author_data = site.people | where:"author", page.author | first %}
                                    <li>
                                        <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                                        <p class="text-muted">{{ page.date | date: "%B, %-d %Y"}} &middot; <a href="{{ author_data.url }}">{{ author_data.name }}</a></p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
