name: Updating branch that is configured to auto-merge
permissions:
  contents: write
on:
  push:
    branches:
      - master

jobs:
  Auto:
    name: Auto-update
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/auto-update@v2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
